<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class='container'>
      <div class='page-header'>
        <% include ../partials/header %>
      </div>

      <div class='row' id='external-links'>
        <div class='col-xs-8'>
          <div class='btn-group btn-group-justified' role='group'>
            <a class='btn btn-default btn-lg' target='_blank' href='https://ulfmagnetics.github.io/resume/john-berry-2016.html'>CV</a>
            <a class='btn btn-default btn-lg' target='_blank' href='https://github.com/ulfmagnetics'>Github</a>
            <a class='btn btn-default btn-lg' target='_blank' href='http://www.linkedin.com/in/john-david-berry'>LinkedIn</a>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-8'>
          <div class='jumbotron'>
            <p class='lead'>
              We provide full-time software engineering services on a contract basis.
              <a class='contact-link' href='mailto:ulfmagnetics+about@gmail.com'>Get in touch</a> if you're looking for help building something fun and exciting
              using Ruby, Javascript, or Python -- or maybe even Rust, Erlang, or Go.
            </p>
            <p> <a class='btn btn-primary btn-lg' href='/pay' role='button'>Pay an Invoice</a> </p>
          </div>
        </div>
      </div>


      <div class='page-footer'>
        <% include ../partials/footer %>
      </div>
    </div>

    <% include ../partials/tail %>

  </body>
</html>
