<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class='container'>
      <div class='page-header'>
        <% include ../partials/header %>
      </div>

      <div class='row'>
        <div class='col-xs-10 col-md-8'>
          <div class='jumbotron'>
            <p class='lead'>
              Please use the following form to make a payment.
            </p>

            <form action='/pay' method='POST' id='payment-form' class='form-horizontal'>
              <div class='payment-errors'>
                <% errors.forEach(function(error) { %>
                <p class='text-danger'><%= error %></p>
                <% }); %>
              </div>

              <div class='form-group'>
                <label for='input-amount-usd' class='col-xs-12 col-sm-6 col-md-4 control-label'>
                  Amount of Payment (USD)
                </label>
                <div class='col-xs-10 col-sm-6 col-md-4'>
                  <div class='input-group'>
                    <div class='input-group-addon'>$</div>
                    <input type='text' size='10' id='input-amount-usd' name='amount_usd' class='form-control' type='number'>
                    <div class='input-group-addon'>.00</div>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for='input-memo' class='col-xs-12 col-sm-6 col-md-4 control-label'>
                  Memo (optional)
                </label>
                <div class='col-xs-10 col-sm-6 col-md-6'>
                  <input type='text' size='30' id='input-memo' name='memo' placeholder='e.g. invoice number' class='form-control'>
                </div>
              </div>

              <div class='form-group'>
                <label for='input-number' class='col-xs-12 col-sm-6 col-md-4 control-label'>
                  Card Number
                </label>
                <div class='col-xs-10 col-sm-6 col-md-6'>
                  <input type='tel' size='20' id='input-number' data-stripe='number' class='form-control'>
                </div>
              </div>

              <div class='form-group'>
                <label for='input-expmonth' class='col-xs-12 col-sm-6 col-md-4 control-label'>
                  Expiration (MM/YY)
                </label>
                <div class='col-xs-8 col-sm-6 col-md-4'>
                  <div class='input-group'>
                    <input type='text' size='2' id='input-expmonth' data-stripe='exp_month' class='form-control'>
                    <div class='input-group-addon'>
                      <span>&nbsp;/&nbsp;</span>
                    </div>
                    <input type='text' size='2' id='input-expyear' data-stripe='exp_year' class='form-control'>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for='input-cvc' class='col-xs-12 col-sm-6 col-md-4 control-label'>
                  <span>CVC</span>
                </label>
                <div class='col-xs-6 col-sm-4 col-md-2'>
                  <input type='text' size='4' id='input-cvc' data-stripe='cvc' class='form-control'>
                </div>
              </div>


              <div class='form-group'>
                <div class='col-xs-offset-0 col-sm-offset-6 col-md-offset-4 col-md-8'>
                  <input type='submit' class='btn btn-primary submit' value='Submit Payment'>
                  <a href='/' class='btn btn-default'>Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class='page-footer'>
        <% include ../partials/footer %>
      </div>
    </div>

    <% include ../partials/tail %>

    <script src="js/jquery.payment.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
      Stripe.setPublishableKey('<%= stripe.publishable_key %>');

      function addError(message) {
        var $form = $('#payment-form');
        $form.find('.payment-errors').append("<p class='text-danger'>" + message + "</p>");
      }

      $(function() {
        $('#input-number').payment('formatCardNumber');

        var $form = $('#payment-form');
        $form.submit(function(event) {
          event.preventDefault();
          $('.payment-errors').empty();

          var valid = $.payment.validateCardNumber($('#input-number').val());
          if (!valid) {
            addError('The credit card number is not valid.');
            return false;
          }

          $form.find('.submit').prop('disabled', true);
          Stripe.card.createToken($form, stripeResponseHandler);
          return false;
        });
      });

      function stripeResponseHandler(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
          $form.find('.submit').prop('disabled', false);
          addError(response.error.message);
        } else {
          var token = response.id;
          $form.append($('<input type="hidden" name="stripeToken">').val(token));
          $form.get(0).submit();
        }
      }
    </script>

  </body>
</html>
